
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.product-name-cell {
    width: 100%;
  }

  .chart-container::-webkit-scrollbar {
    width: 8px;
    height: 32px;
  }
  
  .chart-container::-webkit-scrollbar-thumb {
    background-color: #006FFF;
    border-radius: 10px;
  }
  
  .chart-container::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  .black-65 {
    color: rgba(0, 0, 0, 0.65);
  }

  .black-45 {
    color: rgba(0, 0, 0, 0.45);
  }

  
  
  
  